@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as core-text;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use '../../utils/utils.scss' as utils;
@use '../../utils/card.scss' as card;

$dropdownClassname: '#{utils.$prefix}-dropdown';

.#{$dropdownClassname} {
  &__theme {
    background: none;
    border: none;
    @include typography.text-body-400();
    color: tokens.$color-neutral-grey-800;
    cursor: pointer;
  }
}
