@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use '../utils/utils.scss' as utils;
@use '../utils/card.scss' as card;

$classname: '#{utils.$prefix}-teaser-card';
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;
$padding-two-columns: tokens.$spacing-base-10;
$min-width: utils.pxToRem(369px);
$max-width: core-utils.$component-max-width;
$banner-icon-container-width: utils.pxToRem(64px);
$banner-icon-width: utils.pxToRem(54px);

.#{$classname} {
  .dds-icon-link {
    display: inline;
  }

  &__link {
    @include card.container-link(
      $background-color: tokens.$color-brand-third-200
    );
    min-width: Min(#{$min-width}, 100%);
    max-width: $max-width;
    border-radius: tokens.$border-radius-small;
    overflow: hidden;
    border: 1px solid tokens.$color-neutral-grey-300;

    &:hover {
      box-shadow: inset 0 0 0 1px tokens.$color-neutral-grey-800;

      & .#{core-icon-link.$classname} {
        text-decoration: underline;
      }
    }

    &:active {
      background-color: tokens.$color-brand-third-300;
    }

    & .dds-icon-link > svg {
      width: tokens.$spacing-2;
      height: tokens.$spacing-2;
      margin-bottom: -2px;
      display: inline-block;
      box-sizing: content-box;
      flex-shrink: 0;
      flex-grow: 0;
      fill: #1e2b3c;
      @include utils.mobile() {
        width: 14px;
        height: 14px;
        margin-bottom: -1px;
      }
    }
  }

  &--white {
    background-color: tokens.$color-neutral-white;
  }

  &--blue {
    background-color: tokens.$color-brand-third-200;
  }

  &__banner {
    flex: 0 0 40%;
  }

  // Elements
  &__banner &__image img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    opacity: 100%;
    transition: tokens.$duration-normal all;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 60%;
    padding: $padding-default;
    @include utils.mobile() {
      padding: $padding-mobile;
    }
  }

  &__title {
    @include card.title();
    margin-bottom: tokens.$spacing-base-2;
  }

  &__date {
    @include typography.text-body-200();
    color: tokens.$color-neutral-grey-700;
  }

  &__paragraph {
    @include card.paragraph();
    @include card.line-clamp($max-lines: 3);
    margin-top: tokens.$spacing-base-4;
  }

  & .#{core-icon-link.$classname} {
    width: fit-content;
  }

  // Modifiers
  &--two-columns {
    @media (min-width: tokens.$breakpoint-large) {
      & .#{$classname}__link {
        max-width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
      }

      & .#{$classname}__container {
        padding: $padding-two-columns;
      }
    }
  }
}
