@use '@digdir/ds-core-css/build/src/breadcrumbs.scss' as core-breadcrumbs;
@use '@digdir/ds-core-css/build/src/typography.scss' as core-text;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use 'utils.scss' as utils;
@use 'card-utils.scss' as card;

$classname: '#{utils.$prefix}-brand-banner';
$min-height: utils.pxToRem(432px);
$container-max-width: utils.pxToRem(1260px);
$image-max-height: utils.pxToRem(246px);
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;

.#{$classname} {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  box-sizing: border-box;

  width: 100%;
  min-height: $min-height;
  padding: $padding-default;

  background-color: $color-brand-first-200;

  // Media queries
  @include utils.mobile() {
    padding: $padding-mobile;
  }
  @media (max-width: $breakpoint-large) {
    .#{$classname}__container {
      grid-auto-flow: row;
      max-width: utils.pxToRem(720px);
    }
  }

  // Elements
  &__container {
    display: grid;
    grid-auto-flow: column;
    max-width: $container-max-width;
  }

  &__text-container {
    box-sizing: border-box;
    color: $color-text-background-light;
    margin-top: $padding-default;
  }

  &__title {
    @include core-text.text-heading-800();
    margin: 0 0 $spacing-base-10 0;
  }

  &__paragraph {
    @include core-text.text-body-400();
    margin: 0;
  }

  &__image {
    display: grid;
    padding: $padding-default;

    & img {
      display: block;
      align-self: center;
      justify-self: center;
      width: 100%;
      max-height: $image-max-height;
    }
  }
}
