@use '@digdir/ds-core-css/build/src/breadcrumbs.scss' as core-breadcrumbs;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use './utils/utils.scss' as utils;
@use './utils/card.scss' as card;

$classname: '#{utils.$prefix}-brand-banner';
$min-height: utils.pxToRem(432px);
$container-max-width: utils.pxToRem(1260px);
$image-max-height: utils.pxToRem(260px);
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;

.#{$classname} {
  box-sizing: border-box;
  width: 100%;
  min-height: $min-height;
  background-color: tokens.$color-brand-third-300;

  &__breadcrumbs {
    padding-top: tokens.$spacing-4;
    margin-bottom: -16px;
  }

  &__text-container {
    box-sizing: border-box;
    color: tokens.$color-text-background-light;
    padding: 56px 0;
  }

  &__title {
    margin: 0 0 tokens.$spacing-3 0;
    display: flex;
    flex-direction: column;
  }

  &__sub-title {
    @include typography.text-heading-500();
    margin-bottom: tokens.$spacing-base-3;
  }

  &__main-title {
    @include typography.text-heading-900();
  }

  &__paragraph {
    @include typography.text-body-400();
    margin: 0;
  }

  &__image {
    display: grid;
    padding: 72px 0;

    & img {
      display: block;
      align-self: center;
      justify-self: center;
      width: auto;
      max-height: $image-max-height;
      height: auto;
      max-width: 100%;
      border-radius: 4px;
    }
  }

  // Media queries
  @include utils.mobile() {

    &__text-container {
      padding: 48px 0 40px 0;
    }

    &__title {
      margin: 0 0 $padding-mobile 0;
    }

    &__sub-title {
      @include typography.text-heading-500();
    }

    &__main-title {
      @include typography.text-heading-600();
    }

    &__paragraph {
      @include typography.text-body-300();
    }

    &__image {
      padding: 8px 0 40px 0;
    }
  }
  @media (max-width: tokens.$breakpoint-large) {
    .#{$classname}__container {
      grid-auto-flow: row;
      max-width: utils.pxToRem(720px);
    }
  }
}
