@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as core-text;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use 'utils.scss' as utils;
@use 'card-utils.scss' as card;

$classname: '#{utils.$prefix}-campaign-card';
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;
$padding-two-columns: $spacing-base-10;
$min-width: utils.pxToRem(369px);
$max-width: core-utils.$component-max-width;
$banner-icon-container-width: utils.pxToRem(64px);
$banner-icon-width: utils.pxToRem(54px);

.#{$classname} {
  &__link {
    @include card.container-link($background-color: $color-brand-third-200);
    min-width: Min($min-width, 100%);
    max-width: $max-width;

    &:hover {
      @include card.border-box-shadow();

      & .#{core-icon-link.$classname} {
        @include card.icon-link-hover();
      }
      & .#{$classname}__banner .#{$classname}__image img {
        opacity: 100%;
      }
    }

    &:active {
      background-color: $color-brand-third-300;
    }
  }

  // Elements
  &__banner &__image img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    opacity: 80%;
    transition: $duration-normal all;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-default;
    @include card.padding-mobile($padding-mobile);
  }

  &__title {
    @include card.title();
    margin-bottom: $spacing-base-2;
  }

  &__date {
    @include core-text.text-body-200();
    color: $color-neutral-grey-700;
  }

  &__paragraph {
    @include card.paragraph();
    @include card.line-clamp($max-lines: 3);
    margin: $spacing-base-4 0;
  }

  & .#{core-icon-link.$classname} {
    width: fit-content;
  }

  // Modifiers
  &--two-columns {
    @media (min-width: $breakpoint-large) {
      & .#{$classname}__link {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      & .#{$classname}__container {
        padding: $padding-two-columns;
      }
    }
  }
}
