@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use 'utils.scss' as utils;
@use 'card-utils.scss' as card;

$classname: '#{utils.$prefix}-course-card';
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;
$min-width: utils.pxToRem(383px);
$max-width: core-utils.$component-max-width;
$icon-size: tokens.$spacing-base-5;

.#{$classname} {
  &__link {
    display: block;
    box-sizing: border-box;
    position: relative;

    min-width: Min($min-width, 100%);
    max-width: $max-width;
    height: 100%;

    text-decoration: none;
    background-color: tokens.$color-neutral-white;
    color: tokens.$color-text-background-light;
    transition: all tokens.$duration-normal;

    &:hover {
      box-shadow: inset 0 0 0 4px tokens.$color-brand-second-500;

      .#{$classname}__banner {
        background-color: tokens.$color-brand-second-500;
      }

      & .#{core-icon-link.$classname} {
        @include card.icon-link-hover();
      }
    }

    &:active {
      box-shadow: inset 0 0 0 4px tokens.$color-brand-second-600;
      background-color: tokens.$color-brand-second-200;

      .#{$classname}__banner {
        background-color: tokens.$color-brand-second-600;
      }
    }
  }

  // Elements
  &__container {
    padding: $padding-default;
    @include utils.mobile() {
      padding: $padding-mobile;
    }
  }
  &__banner {
    @include typography.text-body-400();
    background-color: tokens.$color-brand-second-300;
    padding: $padding-mobile $padding-default;
    @include utils.mobile() {
      padding: $padding-mobile;
    }

    transition: all tokens.$duration-normal;
  }
  &__title {
    @include typography.text-heading-500();
    color: tokens.$color-neutral-grey-800;
    margin: 0 0 $padding-mobile 0;
  }
  &__list {
    display: grid;
    grid-auto-flow: row;
    row-gap: tokens.$spacing-base-4;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__item svg {
    width: $icon-size;
    height: $icon-size;
    fill: tokens.$color-neutral-grey-700;
  }
  &__item &__value {
    @include typography.text-body-300();
    color: tokens.$color-neutral-grey-700;

    margin-left: tokens.$spacing-base-2;
  }
}
