@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use './utils/utils.scss' as utils;
@use './utils/card.scss' as card;

$classname: '#{utils.$prefix}-footer';
$padding-default: utils.$padding-default;
$padding-mobile: utils.$padding-mobile;
$min-width: utils.pxToRem(383px);
$max-width: core-utils.$component-max-width;
$icon-size: tokens.$spacing-base-5;

footer {
  background-color: tokens.$color-neutral-grey-800;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    height: 252px;
    width: 252px;
    position: absolute;
    background-color: tokens.$color-brand-second-600;
    bottom: -15%;
    left: -10%;
    transform: rotate(30deg);
  }
  &:after {
    content: '';
    height: 332px;
    width: 332px;
    position: absolute;
    background-color: tokens.$color-brand-first-600;
    bottom: -39%;
    right: -8%;
    transform: rotate(30deg);
    border-radius: 50%;
  }
  .container {
    width: auto;
  }
  @include utils.tablet() {
    &:before {
      content: '';
      height: 146px;
      width: 146px;
      position: absolute;
      background-color: tokens.$color-brand-second-600;
      bottom: -15%;
      left: 0%;
      transform: rotate(30deg);
    }
    &:after {
      content: '';
      height: 146px;
      width: 146px;
      position: absolute;
      background-color: tokens.$color-brand-first-600;
      bottom: -12%;
      right: -12%;
      transform: rotate(30deg);
      border-radius: 50%;
    }
  }
  @include utils.large-mobile() {
    .#{$classname} {
      padding: $padding-mobile;
    }
    &:before {
      content: '';
      height: 146px;
      width: 146px;
      position: absolute;
      background-color: tokens.$color-brand-second-600;
      top: -15%;
      left: 65%;
      transform: rotate(30deg);
    }
    &:after {
      content: '';
      height: 126px;
      width: 126px;
      position: absolute;
      background-color: tokens.$color-brand-first-600;
      bottom: -10%;
      left: -12%;
      transform: rotate(30deg);
      border-radius: 50%;
    }
  }
  @include utils.mobile() {
    &:before {
      content: '';
      height: 146px;
      width: 146px;
      position: absolute;
      background-color: tokens.$color-brand-second-600;
      top: -15%;
      left: 60%;
      transform: rotate(30deg);
    }
    &:after {
      content: '';
      height: 126px;
      width: 126px;
      position: absolute;
      background-color: tokens.$color-brand-first-600;
      bottom: -10%;
      left: -12%;
      transform: rotate(30deg);
      border-radius: 50%;
    }
    &__left {
      margin-bottom: tokens.$spacing-4;
    }
    &__middle {
      margin-bottom: tokens.$spacing-4;
    }
    &__right {
      margin-bottom: tokens.$spacing-4;
    }
  }
}

.#{$classname} {
  padding-top: tokens.$spacing-10;
  padding-bottom: tokens.$spacing-10;
  position: relative;
  justify-content: center;

  &__link {
    text-decoration: none;
    color: inherit;
    margin-left: 0;
    margin-right: tokens.$spacing-2;
  }
  &__left {
    svg {
      height: 28px;
      width: auto;
    }
  }

  &__icon {
    background-color: tokens.$color-neutral-grey-900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    align-items: center;
    flex-wrap: nowrap;
    svg {
      height: 22px;
      width: 22px;
      path {
        fill: tokens.$color-neutral-grey-300;
      }
    }
  }
  &__icon--wrapper {
    display: flex;
  }

  &__title {
    margin-top: 0;
    color: tokens.$color-neutral-white;
    margin-bottom: tokens.$spacing-2;
    @include typography.text-interface-400();
  }
  &__paragraph {
    color: tokens.$color-neutral-grey-300;
    margin-bottom: tokens.$spacing-3;
    @include typography.text-body-300();
  }

  &__list {
    color: tokens.$color-neutral-grey-300;
    padding: 0;
    margin-bottom: 0;
    margin-left: -6px;

    &--link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
    &--item {
      list-style: none;
      font-weight: tokens.$font-weight-regular;
      padding-bottom: tokens.$spacing-2;
      display: flex;
      align-items: center;

      & svg {
        height: 22px;
        width: 22px;
        path {
          fill: tokens.$color-neutral-grey-300;
        }
      }
    }
  }
}
