@use '@digdir/ds-core-css/build/src/panel-link.scss' as panel-link;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use 'utils.scss' as utils;

$classname: '#{utils.$prefix}-link-box';
$width: 26rem;
$height: 4.5rem;
$horizontal-padding: $spacing-base-8;

.#{$classname} {
  & .dds-panel-link {
    min-height: $height;
    min-width: $width;

    background-color: $color-brand-second-200;

    border: none;
    box-shadow: inset 0 0 0 $border-width-thin $color-neutral-grey-500;

    // Padding
    padding: 0 $horizontal-padding;
    & svg:nth-last-of-type(1) {
      right: $horizontal-padding;
    }

    // States
    &:hover {
      background-color: $color-brand-second-400;

      box-shadow: inset 0 0 0 $border-width-default $color-neutral-grey-800;

      & svg:nth-last-of-type(1) {
        fill: $color-neutral-grey-800;
        right: calc($horizontal-padding - $spacing-base-1);
      }
    }

    &:active {
      background-color: $color-brand-second-600;
    }
    // Breakpoints
    @media (max-width: $breakpoint-medium) {
      min-width: Min(90vw, $width);
    }
  }
}
