@use '@digdir/ds-core-css/build/src/panel-link.scss' as core-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use 'utils.scss' as utils;

$classname: '#{utils.$prefix}-link-box';
$min-width: utils.pxToRem(416px);
$max-width: core-utils.$component-max-width;
$horizontal-padding: tokens.$spacing-base-8;

.#{$classname} {
  display: contents;
  // Common properties
  & a {
    min-width: Min($min-width, 100%);
    max-width: $max-width;
  }

  // Icon variant (based on core component)
  & .dds-panel-link {
    min-height: utils.pxToRem(72px);

    background-color: tokens.$color-brand-second-200;

    border: none;
    box-shadow: inset 0 0 0 tokens.$border-width-thin
      tokens.$color-neutral-grey-500;

    // Padding
    padding: 0 $horizontal-padding;
    & svg:nth-last-of-type(1) {
      right: $horizontal-padding;
    }

    // States
    &:hover {
      background-color: tokens.$color-brand-second-400;

      box-shadow: inset 0 0 0 tokens.$border-width-default
        tokens.$color-neutral-grey-800;

      & svg:nth-last-of-type(1) {
        fill: tokens.$color-neutral-grey-800;
        right: calc($horizontal-padding - tokens.$spacing-base-1);
      }
    }

    &:active {
      background-color: tokens.$color-brand-second-600;
    }
  }

  // Center text variant
  & &__link {
    min-height: utils.pxToRem(67px);
    background-color: tokens.$color-brand-third-800;
    color: tokens.$color-text-background-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: tokens.$duration-normal all;

    &:hover {
      background-color: tokens.$color-neutral-grey-800;
    }
    &:active {
      color: tokens.$color-text-background-light;
      background-color: tokens.$color-brand-third-400;
    }
  }
}
