@use '@digdir/ds-core-css/build/src/panel-link.scss' as *;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use 'utils.scss' as utils;

$classname: '#{utils.$prefix}-link-box';

.#{$classname} {
  & .dds-panel-link {
    background-color: $color-brand-second-200;

    border: none;
    box-shadow: inset 0 0 0 $border-width-thin $color-neutral-grey-500;

    &:hover {
      background-color: $color-brand-second-400;

      box-shadow: inset 0 0 0 $border-width-default $color-neutral-grey-800;

      & svg {
        fill: $color-neutral-grey-800;
      }
    }

    &:active {
      background-color: $color-brand-second-600;
    }
  }
}
