@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as core-text;
@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use 'utils.scss' as utils;

$classname: '#{utils.$prefix}-news-teaser';
$padding-default: $spacing-base-8;
$padding-small: $spacing-base-5;
$min-width: utils.pxToRem(369px);

.#{$classname} {
  &__link {
    display: block;
    box-sizing: border-box;
    position: relative;

    min-width: $min-width;
    max-width: core-utils.$component-max-width;
    height: 100%;
    padding: $padding-default;

    text-decoration: none;
    background-color: $color-neutral-white;
    transition: $duration-normal all;

    &:hover {
      background-color: $color-neutral-grey-100;
      box-shadow: inset 0 0 0 4px $color-interface-interaction;

      & .dds-icon-link {
        border-color: $color-interface-interaction;
        border-width: $border-width-default;
      }
    }

    &:active {
      background-color: $color-interface-interaction-light;
    }

    // Breakpoints
    @media (max-width: $min-width) {
      min-width: 100vw;
    }
    @media (max-width: $breakpoint-small) {
      padding: $padding-small;
    }
  }

  // Elements
  &__title {
    @include core-text.text-heading-500();
    color: $color-neutral-grey-800;
    margin: 0;
    padding: 0 0 $spacing-base-2 0;
  }

  &__date {
    @include core-text.text-body-200();
    color: $color-neutral-grey-700;
  }

  &__ingress {
    @include core-text.text-body-300();
    color: $color-neutral-grey-800;
    margin: 0;
    padding: $spacing-base-4 0;
  }
}
