@use 'blocks/menu.scss' as *;

@use '@digdir/ds-core-css/build/src/icon-link.scss' as core-icon-link;
@use '@digdir/ds-core-css/build/src/baseline/utils.scss' as core-utils;
@use '@digdir/ds-core-css/build/src/typography.scss' as typography;
@use '@digdir/ds-tokens/build/tokens.scss' as tokens;
@use '../utils/utils.scss' as utils;
@use '../utils/card.scss' as card;

$classname: '#{utils.$prefix}-header';
$menu-classname: '#{utils.$prefix}-menu';
$logo-height: utils.pxToRem(28px);
$top-bar-height: utils.pxToRem(88px);
$container-max-width: utils.pxToRem(1260px);

.#{$classname} {
  &__top-bar {
    height: $top-bar-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid tokens.$color-neutral-grey-300;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &-middle {
      margin-right: auto;
    }
    &-left {
      margin-right: 80px;
    }
    &-right {
      display: flex;
    }
  }
  &__search {
    display: flex;
    align-items: center;
  }
  &__search-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    @include typography.text-body-400();
    cursor: pointer;
  }
  &__menu-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    @include typography.text-body-400();
    cursor: pointer;
    z-index: 1;
  }
  &__menu-icon {
    display: flex;
    padding-right: 6px;
  }
  &__logo {
    height: $logo-height;
    width: auto;
  }

  &__expanded {
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 89px;
    overflow: hidden;
    z-index: 10;
    height: 0;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }

  &__expanded-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
    transition-duration: 0.4s;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: visible;
  }
  &__title {
    margin-bottom: tokens.$spacing-3;
    @include typography.text-heading-600();
  }
}
