@use '~@digdir/ds-tokens/build/tokens' as *;

.branding {
  background-color: $color-brand-third-200;
  min-height: 500px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
  }

  img {
    height: 280px;
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 500;
  }

  &__desc {
    margin: 0;
    line-height: 1.6em;
    font-size: 18px;
  }

}